set_io clk 35
set_io button 18
set_io tx 9
set_io rx 6
set_io redLight 45
set_io greenLight 4
set_io yellowLight 2
set_io a 43
set_io b 38
set_io c 34
set_io d 31
set_io e 42
set_io f 36
set_io g 32
set_io unused 11
